html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  display: flex;
  flex-direction: column;
  color: #545149;
  background-color: #f8f1f1;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  justify-content: center;
  padding: 5%;
  background-color: #f8f1f1;
}

/* media queris */
@media (min-width: 768px) {
  body nav {
    display: flex;
  }
  #main-header {
    margin-top: 60px;
    height: 400px;
  }
  .hideTweet {
    display: none;
    padding-top: 50px;
  }
}

@media (min-width: 1245px) {
  body {
    display: flex;
    flex-direction: row;
  }
  #main-header {
    width: 20%;
    height: 100%;
    padding-top: 100px;
    justify-content: flex-start;
    position: fixed;
  }

  .container {
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-left: 20%;
    padding-right: 0;
  }
}
