nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #0d335d;
  color: #fff;
  padding: 1.5em;
}

nav span {
  font-family: "Bungee", cursive;
}
nav div p {
  margin: 0;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div i {
  color: red;
}
